openapi: 3.2.0
info:
  title: Pynt User API
  version: 0.1.0
  description: 'Operations tagged user across 2 of this provider''s published API definitions: pynt-openapi.json, pynt-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.pynt.io
  description: Pynt production API
tags:
- name: user
paths:
  /v1/user/me:
    get:
      tags:
      - user
      summary: Get User Me
      operationId: get_user_me_v1_user_me_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserOut'
      security:
      - Bearer Token: []
  /v1/user:
    get:
      tags:
      - user
      summary: List Users
      operationId: list_users_v1_user_get
      security:
      - Bearer Token: []
      - Operator Organization Context: []
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
          title: Filter
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserOut'
                title: Response List Users V1 User Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - user
      summary: Create User
      operationId: create_user_v1_user_put
      security:
      - Bearer Token: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
  /v1/user/{user_id}:
    patch:
      tags:
      - user
      summary: Update User By Id
      operationId: update_user_by_id_v1_user__user_id__patch
      security:
      - Bearer Token: []
      - Operator Organization Context: []
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          title: User Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateModel'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - user
      summary: Delete User By Id
      operationId: delete_user_by_id_v1_user__user_id__delete
      security:
      - Bearer Token: []
      - Operator Organization Context: []
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          title: User Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Delete User By Id V1 User  User Id  Delete
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    UserOut:
      properties:
        uid:
          type: string
          title: Uid
        first_name:
          anyOf:
          - type: string
          - type: 'null'
          title: First Name
        last_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Name
        role:
          $ref: '#/components/schemas/UserRole'
        email:
          type: string
          title: Email
        created_at:
          type: string
          format: date-time
          title: Created At
        organization_id:
          type: string
          title: Organization Id
        user_id:
          type: string
          title: User Id
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        lastname:
          anyOf:
          - type: string
          - type: 'null'
          title: Lastname
      type: object
      required:
      - uid
      - first_name
      - last_name
      - role
      - email
      - created_at
      - organization_id
      - user_id
      - name
      - lastname
      title: UserOut
    UserRole:
      type: string
      enum:
      - Admin
      - User
      - SystemAdmin
      title: UserRole
    CreateUserResponse:
      properties:
        new_organization_created:
          type: boolean
          title: New Organization Created
      type: object
      required:
      - new_organization_created
      title: CreateUserResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    UserUpdateModel:
      properties:
        role:
          $ref: '#/components/schemas/UserRole'
      type: object
      required:
      - role
      title: UserUpdateModel
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: X-API-Key
    Bearer_Token:
      type: apiKey
      in: header
      name: Authorization
    System_API_Key:
      type: apiKey
      in: header
      name: X-System-API-Key
    Organization_ID:
      type: apiKey
      in: header
      name: X-Organization-ID
    Operator_Organization_Context:
      type: apiKey
      in: header
      name: context
x-refined-from:
- pynt-openapi.json
- pynt-openapi.json
