openapi: 3.2.0
info:
  title: Pynt Artifacts API
  version: 0.1.0
  description: 'Operations tagged artifacts across 2 of this provider''s published API definitions: pynt-openapi.json, pynt-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.pynt.io
  description: Pynt production API
tags:
- name: artifacts
paths:
  /v1/artifacts/upload-url:
    post:
      tags:
      - artifacts
      summary: Get Upload Url
      operationId: get_upload_url_v1_artifacts_upload_url_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadUrlRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadUrlResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      - Operator Organization Context: []
  /v1/artifacts/download-url:
    post:
      tags:
      - artifacts
      summary: Get Download Url
      operationId: get_download_url_v1_artifacts_download_url_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadUrlRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: string
                title: Response Get Download Url V1 Artifacts Download Url Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      - Operator Organization Context: []
components:
  schemas:
    DownloadUrlRequest:
      properties:
        folder:
          $ref: '#/components/schemas/ArtifactsAllowedFolders'
          description: The folder to download the file from
        file_name:
          type: string
          title: File Name
          description: The prefix of the file to download
      type: object
      required:
      - folder
      - file_name
      title: DownloadUrlRequest
    UploadUrlRequest:
      properties:
        folder:
          $ref: '#/components/schemas/ArtifactsAllowedFolders'
          description: The folder to upload the file to
        file_name:
          type: string
          title: File Name
          description: The prefix of the file to upload
      type: object
      required:
      - folder
      - file_name
      title: UploadUrlRequest
    UploadUrlResponse:
      properties:
        upload_url:
          type: string
          title: Upload Url
          description: The presigned URL to upload the file
        path:
          type: string
          title: Path
          description: The path to the file in the bucket
      type: object
      required:
      - upload_url
      - path
      title: UploadUrlResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ArtifactsAllowedFolders:
      type: string
      enum:
      - api-docs
      - har-files
      - collections
      title: ArtifactsAllowedFolders
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: X-API-Key
    Bearer_Token:
      type: apiKey
      in: header
      name: Authorization
    System_API_Key:
      type: apiKey
      in: header
      name: X-System-API-Key
    Organization_ID:
      type: apiKey
      in: header
      name: X-Organization-ID
    Operator_Organization_Context:
      type: apiKey
      in: header
      name: context
x-refined-from:
- pynt-openapi.json
- pynt-openapi.json
