openapi: 3.2.0
info:
  title: Pynt Endpoint Llm Analysis API
  version: 0.1.0
  description: 'Operations tagged endpoint-llm-analysis across 2 of this provider''s published API definitions: pynt-openapi.json, pynt-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.pynt.io
  description: Pynt production API
tags:
- name: endpoint-llm-analysis
paths:
  /v1/application/{application_id}/endpoint-llm-analysis:
    get:
      tags:
      - endpoint-llm-analysis
      summary: Get Endpoint Llm Analysis
      operationId: get_endpoint_llm_analysis_v1_application__application_id__endpoint_llm_analysis_get
      security:
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      - Operator Organization Context: []
      parameters:
      - name: application_id
        in: path
        required: true
        schema:
          type: string
          title: Application Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EndpointLLMAnalysis'
                title: Response Get Endpoint Llm Analysis V1 Application  Application Id  Endpoint Llm Analysis Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    PiiItem:
      properties:
        field_name:
          type: string
          title: Field Name
        value:
          type: string
          title: Value
      type: object
      required:
      - field_name
      - value
      title: PiiItem
    YesNoQuestion:
      properties:
        verdict:
          type: boolean
          title: Verdict
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
      type: object
      required:
      - verdict
      title: YesNoQuestion
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    AuthenticationInfo:
      properties:
        method:
          anyOf:
          - type: string
          - type: 'null'
          title: Method
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
      type: object
      title: AuthenticationInfo
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    PathParameter:
      properties:
        param_value:
          type: string
          title: Param Value
        suggested_name:
          type: string
          title: Suggested Name
      type: object
      required:
      - param_value
      - suggested_name
      title: PathParameter
    EndpointLLMAnalysis:
      properties:
        endpoint:
          type: string
          title: Endpoint
        method:
          type: string
          title: Method
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        regex:
          anyOf:
          - type: string
          - type: 'null'
          title: Regex
        crud:
          anyOf:
          - type: string
          - type: 'null'
          title: Crud
        is_login:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Login
        positive_response:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Positive Response
        risk:
          anyOf:
          - type: string
          - type: 'null'
          title: Risk
        resource_identifiers:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Resource Identifiers
        user_identifiers:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: User Identifiers
        path_parameters:
          anyOf:
          - items:
              $ref: '#/components/schemas/PathParameter'
            type: array
          - type: 'null'
          title: Path Parameters
        pii:
          anyOf:
          - items:
              $ref: '#/components/schemas/PiiItem'
            type: array
          - type: 'null'
          title: Pii
        prone_to_bruteforce:
          anyOf:
          - $ref: '#/components/schemas/YesNoQuestion'
          - type: 'null'
        spam_generation:
          anyOf:
          - $ref: '#/components/schemas/YesNoQuestion'
          - type: 'null'
        otp_bomb:
          anyOf:
          - $ref: '#/components/schemas/YesNoQuestion'
          - type: 'null'
        computational_heavy:
          anyOf:
          - $ref: '#/components/schemas/YesNoQuestion'
          - type: 'null'
        sensitive_business_flow:
          anyOf:
          - $ref: '#/components/schemas/YesNoQuestion'
          - type: 'null'
        excessive_data_exposure:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Excessive Data Exposure
        access_level:
          anyOf:
          - type: string
          - type: 'null'
          title: Access Level
        test_for_bola:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Test For Bola
        test_for_bfla:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Test For Bfla
        mass_assignment:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Mass Assignment
        authentication:
          anyOf:
          - $ref: '#/components/schemas/AuthenticationInfo'
          - type: 'null'
        canonized_path:
          anyOf:
          - type: string
          - type: 'null'
          title: Canonized Path
        unique_value_requirement:
          anyOf:
          - type: string
          - type: 'null'
          title: Unique Value Requirement
        more_info_needed:
          anyOf:
          - type: boolean
          - type: 'null'
          title: More Info Needed
        application_id:
          type: string
          title: Application Id
        endpoint_id:
          type: string
          title: Endpoint Id
      type: object
      required:
      - endpoint
      - method
      - application_id
      - endpoint_id
      title: EndpointLLMAnalysis
      description: Business model — extends the LLM schema with application-level fields.
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: X-API-Key
    Bearer_Token:
      type: apiKey
      in: header
      name: Authorization
    System_API_Key:
      type: apiKey
      in: header
      name: X-System-API-Key
    Organization_ID:
      type: apiKey
      in: header
      name: X-Organization-ID
    Operator_Organization_Context:
      type: apiKey
      in: header
      name: context
x-refined-from:
- pynt-openapi.json
- pynt-openapi.json
