openapi: 3.2.0
info:
  title: Pynt Postman Proxy API
  version: 0.1.0
  description: 'Operations tagged postman-proxy across 2 of this provider''s published API definitions: pynt-openapi.json, pynt-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.pynt.io
  description: Pynt production API
tags:
- name: postman-proxy
paths:
  /v1/postman-proxy/{_path_name}:
    post:
      tags:
      - postman-proxy
      summary: Postman Proxy
      operationId: postman_proxy_v1_postman_proxy___path_name__post
      parameters:
      - name: _path_name
        in: path
        required: true
        schema:
          type: string
          title: ' Path Name'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Postman Proxy V1 Postman Proxy   Path Name  Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - postman-proxy
      summary: Postman Proxy
      operationId: postman_proxy_v1_postman_proxy___path_name__post
      parameters:
      - name: _path_name
        in: path
        required: true
        schema:
          type: string
          title: ' Path Name'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Postman Proxy V1 Postman Proxy   Path Name  Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - postman-proxy
      summary: Postman Proxy
      operationId: postman_proxy_v1_postman_proxy___path_name__post
      parameters:
      - name: _path_name
        in: path
        required: true
        schema:
          type: string
          title: ' Path Name'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Postman Proxy V1 Postman Proxy   Path Name  Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    options:
      tags:
      - postman-proxy
      summary: Postman Proxy
      operationId: postman_proxy_v1_postman_proxy___path_name__post
      parameters:
      - name: _path_name
        in: path
        required: true
        schema:
          type: string
          title: ' Path Name'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Postman Proxy V1 Postman Proxy   Path Name  Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - postman-proxy
      summary: Postman Proxy
      operationId: postman_proxy_v1_postman_proxy___path_name__post
      parameters:
      - name: _path_name
        in: path
        required: true
        schema:
          type: string
          title: ' Path Name'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Postman Proxy V1 Postman Proxy   Path Name  Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - postman-proxy
      summary: Postman Proxy
      operationId: postman_proxy_v1_postman_proxy___path_name__post
      parameters:
      - name: _path_name
        in: path
        required: true
        schema:
          type: string
          title: ' Path Name'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Postman Proxy V1 Postman Proxy   Path Name  Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: X-API-Key
    Bearer_Token:
      type: apiKey
      in: header
      name: Authorization
    System_API_Key:
      type: apiKey
      in: header
      name: X-System-API-Key
    Organization_ID:
      type: apiKey
      in: header
      name: X-Organization-ID
    Operator_Organization_Context:
      type: apiKey
      in: header
      name: context
x-refined-from:
- pynt-openapi.json
- pynt-openapi.json
