openapi: 3.2.0
info:
  title: Pynt Scan Profile API
  version: 0.1.0
  description: 'Operations tagged scan-profile across 2 of this provider''s published API definitions: pynt-openapi.json, pynt-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.pynt.io
  description: Pynt production API
tags:
- name: scan-profile
paths:
  /v1/scan-profile:
    put:
      tags:
      - scan-profile
      summary: Upsert Scan Profile
      operationId: upsert_scan_profile_v1_scan_profile_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanProfileBase'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Bearer Token: []
      - Operator Organization Context: []
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ScanAttackConfig:
      properties:
        should_attack:
          type: boolean
          title: Should Attack
      type: object
      required:
      - should_attack
      title: ScanAttackConfig
    ScanProfileBase:
      properties:
        scan_profile_id:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          title: Scan Profile Id
        application_id:
          anyOf:
          - type: string
            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          - type: 'null'
          title: Application Id
        tests:
          anyOf:
          - additionalProperties:
              additionalProperties:
                $ref: '#/components/schemas/ScanAttackConfig'
              type: object
            type: object
          - type: 'null'
          title: Tests
      type: object
      required:
      - application_id
      - tests
      title: ScanProfileBase
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: X-API-Key
    Bearer_Token:
      type: apiKey
      in: header
      name: Authorization
    System_API_Key:
      type: apiKey
      in: header
      name: X-System-API-Key
    Organization_ID:
      type: apiKey
      in: header
      name: X-Organization-ID
    Operator_Organization_Context:
      type: apiKey
      in: header
      name: context
x-refined-from:
- pynt-openapi.json
- pynt-openapi.json
