openapi: 3.2.0
info:
  title: Pynt Vulnerability Instance API
  version: 0.1.0
  description: 'Operations tagged vulnerability-instance across 2 of this provider''s published API definitions: pynt-openapi.json, pynt-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.pynt.io
  description: Pynt production API
tags:
- name: vulnerability-instance
paths:
  /v1/vulnerability-instance:
    get:
      tags:
      - vulnerability-instance
      summary: List Vulnerability Instances
      operationId: list_vulnerability_instances_v1_vulnerability_instance_get
      security:
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      - Operator Organization Context: []
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
          title: Filter
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedVulnerabilityInstancesOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/vulnerability-instance/{vulnerability_instance_id}:
    get:
      tags:
      - vulnerability-instance
      summary: Find Vulnerability Instance By Id
      operationId: find_vulnerability_instance_by_id_v1_vulnerability_instance__vulnerability_instance_id__get
      security:
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      - Operator Organization Context: []
      parameters:
      - name: vulnerability_instance_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          title: Vulnerability Instance Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilityInstanceOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/vulnerability-instance/{vulnerability_instance_id}/relevance:
    put:
      tags:
      - vulnerability-instance
      summary: Update Vulnerability Instance Relevance
      operationId: update_vulnerability_instance_relevance_v1_vulnerability_instance__vulnerability_instance_id__relevance_put
      security:
      - Bearer Token: []
      - Operator Organization Context: []
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      parameters:
      - name: vulnerability_instance_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          title: Vulnerability Instance Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_update_vulnerability_instance_relevance_v1_vulnerability_instance__vulnerability_instance_id__relevance_put'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/vulnerability-instance/{vulnerability_instance_id}/tags:
    put:
      tags:
      - vulnerability-instance
      summary: Update Vulnerability Instances Tags
      operationId: update_vulnerability_instances_tags_v1_vulnerability_instance__vulnerability_instance_id__tags_put
      security:
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      - Operator Organization Context: []
      - Bearer Token: []
      parameters:
      - name: vulnerability_instance_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          title: Vulnerability Instance Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_update_vulnerability_instances_tags_v1_vulnerability_instance__vulnerability_instance_id__tags_put'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/vulnerability-instance/{vulnerability_instance_id}/ticket/jira:
    post:
      tags:
      - vulnerability-instance
      summary: Create Ticket Jira
      operationId: create_ticket_jira_v1_vulnerability_instance__vulnerability_instance_id__ticket_jira_post
      security:
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      - Operator Organization Context: []
      - Bearer Token: []
      parameters:
      - name: vulnerability_instance_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          title: Vulnerability Instance Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JiraCreateTicketRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    Finding:
      properties:
        id:
          type: string
          title: Id
        original_value:
          anyOf:
          - type: string
          - type: 'null'
          title: Original Value
        parameter_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Parameter Name
        parameter_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Parameter Type
        replaced_value:
          anyOf:
          - type: string
          - type: 'null'
          title: Replaced Value
        payload:
          anyOf:
          - type: string
          - type: 'null'
          title: Payload
        verified_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified By
        header:
          anyOf:
          - type: string
          - type: 'null'
          title: Header
        mode:
          anyOf:
          - type: string
          - type: 'null'
          title: Mode
        header_key:
          anyOf:
          - type: string
          - type: 'null'
          title: Header Key
      type: object
      required:
      - id
      title: Finding
    VulnerabilityDefinition:
      properties:
        category:
          type: string
          title: Category
        sub_category:
          type: string
          title: Sub Category
      type: object
      required:
      - category
      - sub_category
      title: VulnerabilityDefinition
    VulnerabilityScope:
      type: string
      enum:
      - endpoint
      - host
      title: VulnerabilityScope
    JiraCreateTicketRequest:
      properties:
        project_id:
          type: string
          title: Project Id
        issue_type_id:
          type: string
          title: Issue Type Id
        summary:
          type: string
          title: Summary
        description:
          type: string
          title: Description
        fields:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Fields
      type: object
      required:
      - project_id
      - issue_type_id
      - summary
      - description
      title: JiraCreateTicketRequest
    VulnerabilityScopeInfo-Output:
      properties:
        scope:
          $ref: '#/components/schemas/VulnerabilityScope'
        scope_key:
          type: string
          title: Scope Key
        endpoint_attacks_info:
          items:
            $ref: '#/components/schemas/EndpointAttackInfo'
          type: array
          title: Endpoint Attacks Info
      type: object
      required:
      - scope
      - scope_key
      title: VulnerabilityScopeInfo
    VulnerabilityInstanceRelevance:
      type: string
      enum:
      - relevant
      - irrelevant_waived
      - irrelevant_fixed
      title: VulnerabilityInstanceRelevance
    PaginatedVulnerabilityInstancesOut:
      properties:
        instances:
          items:
            $ref: '#/components/schemas/VulnerabilityInstanceOut'
          type: array
          title: Instances
        total:
          type: integer
          title: Total
      type: object
      required:
      - instances
      - total
      title: PaginatedVulnerabilityInstancesOut
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    Body_update_vulnerability_instances_tags_v1_vulnerability_instance__vulnerability_instance_id__tags_put:
      properties:
        tags:
          items:
            type: string
          type: array
          title: Tags
      type: object
      required:
      - tags
      title: Body_update_vulnerability_instances_tags_v1_vulnerability_instance__vulnerability_instance_id__tags_put
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    VulnerabilityInstanceOut:
      properties:
        id:
          type: string
          title: Id
        application_id:
          type: string
          title: Application Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        last_seen_at:
          type: string
          format: date-time
          title: Last Seen At
        status:
          $ref: '#/components/schemas/VulnerabilityInstanceStatus'
        relevance:
          $ref: '#/components/schemas/VulnerabilityInstanceRelevance'
        tickets:
          items:
            $ref: '#/components/schemas/Ticket'
          type: array
          title: Tickets
        tags:
          items:
            type: string
          type: array
          title: Tags
        severity:
          type: integer
          title: Severity
        vulnerability_definition:
          $ref: '#/components/schemas/VulnerabilityDefinition'
        scope_info:
          $ref: '#/components/schemas/VulnerabilityScopeInfo-Output'
      type: object
      required:
      - id
      - application_id
      - created_at
      - updated_at
      - last_seen_at
      - status
      - relevance
      - severity
      - vulnerability_definition
      - scope_info
      title: VulnerabilityInstanceOut
    VulnerabilityInstanceStatus:
      type: string
      enum:
      - detected
      title: VulnerabilityInstanceStatus
    EndpointAttackInfo:
      properties:
        scan_id:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          title: Scan Id
        endpoint:
          type: string
          title: Endpoint
        host:
          type: string
          title: Host
        curl_cmd:
          anyOf:
          - type: string
          - type: 'null'
          title: Curl Cmd
        evidence_paths:
          items:
            type: string
          type: array
          title: Evidence Paths
        finding:
          $ref: '#/components/schemas/Finding'
      type: object
      required:
      - scan_id
      - endpoint
      - host
      - finding
      title: EndpointAttackInfo
    Body_update_vulnerability_instance_relevance_v1_vulnerability_instance__vulnerability_instance_id__relevance_put:
      properties:
        relevance:
          $ref: '#/components/schemas/VulnerabilityInstanceRelevance'
      type: object
      required:
      - relevance
      title: Body_update_vulnerability_instance_relevance_v1_vulnerability_instance__vulnerability_instance_id__relevance_put
    Ticket:
      properties:
        name:
          type: string
          title: Name
        link:
          type: string
          title: Link
      type: object
      required:
      - name
      - link
      title: Ticket
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: X-API-Key
    Bearer_Token:
      type: apiKey
      in: header
      name: Authorization
    System_API_Key:
      type: apiKey
      in: header
      name: X-System-API-Key
    Organization_ID:
      type: apiKey
      in: header
      name: X-Organization-ID
    Operator_Organization_Context:
      type: apiKey
      in: header
      name: context
x-refined-from:
- pynt-openapi.json
- pynt-openapi.json
