openapi: 3.2.0
info:
  title: Pynt Ticketing API
  version: 0.1.0
  description: 'Operations tagged ticketing across 2 of this provider''s published API definitions: pynt-openapi.json, pynt-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.pynt.io
  description: Pynt production API
tags:
- name: ticketing
paths:
  /v1/ticketing/jira/projects:
    get:
      tags:
      - ticketing
      summary: Get Jira Projects
      operationId: get_jira_projects_v1_ticketing_jira_projects_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/JiraProject'
                type: array
                title: Response Get Jira Projects V1 Ticketing Jira Projects Get
      security:
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      - Operator Organization Context: []
      - Bearer Token: []
  /v1/ticketing/jira/projects/{project_id}/issuetypes/{issue_type_id}/metadata:
    get:
      tags:
      - ticketing
      summary: Get Issue Type Metadata
      operationId: get_issue_type_metadata_v1_ticketing_jira_projects__project_id__issuetypes__issue_type_id__metadata_get
      security:
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      - Operator Organization Context: []
      - Bearer Token: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          title: Project Id
      - name: issue_type_id
        in: path
        required: true
        schema:
          type: string
          title: Issue Type Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JiraField'
                title: Response Get Issue Type Metadata V1 Ticketing Jira Projects  Project Id  Issuetypes  Issue Type Id  Metadata Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/ticketing/jira:
    put:
      tags:
      - ticketing
      summary: Connect Jira
      operationId: connect_jira_v1_ticketing_jira_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_connect_jira_v1_ticketing_jira_put'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/JiraSiteResponse'
                type: array
                title: Response Connect Jira V1 Ticketing Jira Put
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      - Operator Organization Context: []
      - Bearer Token: []
    delete:
      tags:
      - ticketing
      summary: Delete Integration
      operationId: delete_integration_v1_ticketing_jira_delete
      responses:
        '204':
          description: Successful Response
      security:
      - Bearer Token: []
      - Operator Organization Context: []
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
    patch:
      tags:
      - ticketing
      summary: Set Properties
      operationId: set_properties_v1_ticketing_jira_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JiraPropertiesRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - API Key: []
      - Bearer Token: []
      - System API Key: []
      - Organization ID: []
      - Operator Organization Context: []
      - Bearer Token: []
components:
  schemas:
    JiraSiteResponse:
      properties:
        id:
          type: string
          title: Id
        name:
          type: string
          title: Name
        url:
          type: string
          title: Url
      type: object
      required:
      - id
      - name
      - url
      title: JiraSiteResponse
    Body_connect_jira_v1_ticketing_jira_put:
      properties:
        code:
          type: string
          title: Code
      type: object
      required:
      - code
      title: Body_connect_jira_v1_ticketing_jira_put
    JiraField:
      properties:
        field_id:
          type: string
          title: Field Id
        name:
          type: string
          title: Name
        required:
          type: boolean
          title: Required
        allowed_values:
          anyOf:
          - items:
              $ref: '#/components/schemas/JiraAllowedValue'
            type: array
          - type: 'null'
          title: Allowed Values
        schema_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Schema Type
        schema_custom:
          anyOf:
          - type: string
          - type: 'null'
          title: Schema Custom
      type: object
      required:
      - field_id
      - name
      - required
      title: JiraField
    IssueType:
      properties:
        id:
          type: string
          title: Id
        name:
          type: string
          title: Name
        icon_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Icon Url
      type: object
      required:
      - id
      - name
      title: IssueType
    JiraProject:
      properties:
        id:
          type: string
          title: Id
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        avatar_url:
          type: string
          title: Avatar Url
        issue_types:
          items:
            $ref: '#/components/schemas/IssueType'
          type: array
          title: Issue Types
      type: object
      required:
      - id
      - name
      - description
      - avatar_url
      - issue_types
      title: JiraProject
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    JiraPropertiesRequest:
      properties:
        site:
          anyOf:
          - $ref: '#/components/schemas/JiraPropertiesSiteRequest'
          - type: 'null'
        default_project:
          anyOf:
          - type: string
          - type: 'null'
          title: Default Project
      type: object
      title: JiraPropertiesRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    JiraAllowedValue:
      properties:
        id:
          anyOf:
          - type: string
          - type: 'null'
          title: Id
        value:
          anyOf:
          - type: string
          - type: 'null'
          title: Value
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
      type: object
      title: JiraAllowedValue
    JiraPropertiesSiteRequest:
      properties:
        id:
          type: string
          title: Id
        url:
          type: string
          title: Url
      type: object
      required:
      - id
      - url
      title: JiraPropertiesSiteRequest
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: X-API-Key
    Bearer_Token:
      type: apiKey
      in: header
      name: Authorization
    System_API_Key:
      type: apiKey
      in: header
      name: X-System-API-Key
    Organization_ID:
      type: apiKey
      in: header
      name: X-Organization-ID
    Operator_Organization_Context:
      type: apiKey
      in: header
      name: context
x-refined-from:
- pynt-openapi.json
- pynt-openapi.json
